<h2>New Wiggle!</h2>

<form action="/wiggles" method="post">

  <p>
    <label for="">Wiggle Colour:</label>
    <input type="text" name="wiggle_colour" placeholder="wiggle_colour">
  </p>

  <p>
    <label for="">Full Name:</label>
    <input type="text" name="full_name" placeholder="full_name">
  </p>

  <p>
    <label for="">Image URLuke:</label>
    <input type="text" name="image" placeholder="image">
  </p>

  <p>
    <label for="">Description:</label>
    <input type="text" name="description" placeholder="Description">
  </p>

  <p>
    <label for="">Prior Work:</label>
    <input type="text" name="prior_work" placeholder="prior_work">
  </p>

  <marquee>
  <button>SUBMIT YOU A-HOLE!</button>
</marquee>

</form>
