<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/layout.css">
  <title>Query</title>
</head>
<body>


  <nav>
  <a href="/"></a>
</nav>

<p>What movie would you like to search for?</p>

<form action="/070617display_poster">
  <input type="text" name="movie_title" placeholder="Type AWAY!!!">
  <button>SUBNIT!</button>
</form>

 <%= yield %>

</body>
</html>
